<div class="card product-card single-product" data-product-id="{{id}}"
     style="max-width: 100%;"> <!-- Adjust max-width as needed -->
  <a href="/api/product/{{id}}">
    <div class="card-body">
      <img src="/images/{{gallery.filename}}" alt="{{description}}"
           style="max-width: 100%; height: auto;">
    </div>
  </a>

  <div class="card-body">
    <h5 class="card-title">{{ product_name }}</h5>
    <p class="card-text">Price: {{ price }}</p>
    <p class="card-text">Stock: {{ stock }}</p>
  </div>
</div>
