<div class="cart">
  <h2>Your Cart</h2>
  {{#if cartItems.length}}
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {{#each cartItems}}
          <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ quantity }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.price * quantity }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>Your cart is empty.</p>
  {{/if}}
</div>
